<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Selected hero's name:</label>
    <input id="hero-name" placeholder="My Hero" [(ngModel)]="hero.name">
    <!--
    ngModel enables a two way data flow between
    the vale of the input box and the property specified.

    ngModel must be imported from the forms module and
    declared within the app's imports.

    Webstorm can automatically take care of this.
    -->


  </div>
</div>

<button (click)="goBack()">Back</button>
