<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
  <label for="name">Hero name:</label>
  <input id="name" placeholder="My Hero" [(ngModel)]="hero.name">
  <!--
  ngModel enables a two way data flow between
  the vale of the input box and the property specified.

  ngModel must be imported from the forms module and
  declared within the app's imports.

  Webstorm can automatically take care of this.
  -->
</div>
